@model Soundche.Core.Domain.Playlist
@{
    ViewBag.Title = "AddPlaylist";
}

<div>
    <h2>
        Add New Playlist
    </h2>
</div>

<div>
    <!-- This div is essential. Otherwise it doesn't work lmao-->
    @using (@Html.BeginForm())
    {
        @Html.ValidationSummary();
        @Html.TextBoxFor(model => Model.Name, new { @class = "form-control", placeholder = " Playlist name" });
        <button class="btn btn-success" type="submit">Create Playlist</button>

        @using (Html.BeginForm())
        {
            <div id="editorRowsTeachers">
                @foreach (var item in Model.Tracks)
                    @Html.Partial("Track", item)
            </div>
            <!--ATHtml.ActionLink("Add", "TeacherManager", null, new { id = "addItemTeachers", ATclass = "button" });--> 
        }

        <!--//for (int i = 0; i < (Model.Tracks?.Any() ?? true ? Model.Tracks.Count : 0); i++)-->
        <!--<button class="btn btn-success" type="button" onclick="createItemFromTemplate('trackslist__x0x_', 0, 'trackslist_0')">Add New Track</button>-->
    }

    <!--
    FOLLOW http://blog.stevensanderson.com/2010/01/28/editing-a-variable-length-list-aspnet-mvc-2-style/
    THEN FOLLOW https://blog.stevensanderson.com/2010/01/28/validating-a-variable-length-list-aspnet-mvc-2-style/

    ONCLICK WE WANT TO REDIRECT TO JS FUNCTION THAT THEN CALLS AddTrack IN CONTROLLER, AND APPENDS THE RECIEVED VIEW TO THE DOM



    <%= Html.ActionLink("Add another...", "BlankEditorRow", null, new { id = "addItem" }) %>

    $("#addItem").click(function() {
        $.ajax({
            url: this.href,
            cache: false,
            success: function(html) { $("#editorRows").append(html); }
        });
        return false;
    });

      -->
</div>


<!-- TODO Still need delete and switch index functionality for each track element -->
<!-- TODO: Search on: MVC Edit a variable length list view !!!!!!!!!!! Maybe I should just do post/get and have each Track be a partial view?s -->
<!-- TODO: Need some JS to change the view whenever I add/remove a song... BELOW -->
<!-- TODO: All of it needs to be repackaged for a partial view at some point. -->
<!-- http://ivanz.com/2011/06/16/editing-variable-length-reorderable-collections-in-asp-net-mvc-part-1/ -->
<!-- http://blog.stevensanderson.com/2010/01/28/editing-a-variable-length-list-aspnet-mvc-2-style/ -->
<!-- TODO ADD THIS, AND THEN MAKE SURE VIDEOS CAN STILL BE PLAYED-->
<script type="text/javascript">
    function getYoutubeIdFromUrl(url) {
        let re = /^(https?:\/\/)?((www\.)?(youtube(-nocookie)?|youtube.googleapis)\.com.*(v\/|v=|vi=|vi\/|e\/|embed\/|user\/.*\/u\/\d+\/)|youtu\.be\/)([_0-9a-z-]+)/i;
        return url.match(re)[7];
        // Source: https://stackoverflow.com/a/51870158/5774018
        // Regex to get the youtube id from most kinds of youtube links
    }

    function createItemFromTemplate(templateId, indexNo, insertBeforeId) {
        // Copy the template Element, replaces all the _x0x_ with the index no and add the new element
        $('#' + insertBeforeId).before($.parseHTML($('#' + templateId).clone().prop('outerHTML').replace(/_x0x_/g, indexNo)));
    }
</script>
