/* From https://projects.lukehaas.me/css-loaders/ */

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/* MY SHIT */

body, html {
    margin: 0;
    padding: 0;
}

.hangout-player-main {
    width: 62%; /* This is the same as adjusting height % - because of the padding it does below */
    margin: auto; /* Centers the content */
    padding-top: 15px;
    padding-bottom: 15px;
}

.video-container {
    overflow: hidden;
    position: relative;
    padding-top: 56.25%;
    height: inherit;
}

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: inherit;
    }

.hidden {
    display: none;
}

.overlay {
    position: fixed;
    display: block;
    z-index: 4;
    top: 0%;
    left: 50%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 80%;
    width: 50%;
    background-color: rgba(0,0,0,0.5);
}

.display-hide {
    visibility: hidden;
}

.hangout-header-main {
    display: grid;
    height: 10%;

    grid-template-areas:
        "logo   logo   title    byline";

    grid-row-gap: 2px;
    grid-column-gap: 2px;
    align-items: stretch;
    justify-items: stretch;
    justify-content: stretch;
    margin-left: 15px;
    margin-right: 15px;
}

.header-logo       { grid-area: logo } 
.header-title      { grid-area: title }
.header-byline     { grid-area: byline }

.max-size-logo { /* TODO FIX THIS, Cant use a plain pixel value*/
    height: 100px;
    width: auto;
}

.black-background {
    background-color: black;
}

.min-size {
    margin: auto;
}

.hangout-status-grid {
    display: grid;
    height: 5%;

    grid-template-areas:
        "status-lineleft status-status status-lineright"
        "status-user     status-empty  status-playlists";

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: stretch;
    justify-items: stretch;
    justify-content: stretch;
    text-align: center;
    font-size: small;
}

.hangout-status-left        { grid-area: status-lineleft }
.hangout-status-status      { grid-area: status-status }
.hangout-status-lineright   { grid-area: status-lineright }
.hangout-status-user        { grid-area: status-user }
.hangout-status-empty       { grid-area: status-empty }
.hangout-status-playlists   { grid-area: status-playlists }

.hangout-btn-grid-main {
    display: grid;
    height: 20%;

    grid-template-areas:
        "pic    pic     info    info    info    info    play        all         remove      cmds        cmds        cmds"
        "pic    pic     prev    vol     vol     next    playlist    playlist    playlist    cmds        cmds        cmds"
        "pic    pic     sort	sort	sort	apply	create	    edit        delete      cmds        cmds        cmds";

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 2px;
    grid-column-gap: 2px;
    align-items: stretch;
    justify-items: stretch;
    justify-content: stretch;
    margin-left: 15px;
    margin-right: 15px;
}

.hangout-pic        { grid-area: pic }
.hangout-info       { grid-area: info }
.hangout-prev       { grid-area: prev }
.hangout-vol        { grid-area: vol }
.hangout-next       { grid-area: next }
.hangout-sort       { grid-area: sort }
.hangout-apply      { grid-area: apply }
.hangout-play       { grid-area: play }
.hangout-all        { grid-area: all }
.hangout-remove     { grid-area: remove }
.hangout-playlist   { grid-area: playlist }
.hangout-create     { grid-area: create }
.hangout-edit       { grid-area: edit }
.hangout-delete     { grid-area: delete }
.hangout-cmds       { grid-area: cmds }

.cmds-textarea {
    background-color: black;
    color: forestgreen;
    resize: none;
}

.stretch {
    width: 100%;
    height: 100%;
}

.stretch-width {
    width: 100%;
    height: auto;
}

.fill-max-screen-size {
    height: 100vh;
    width: 100vw;
}

/* Frame and img courtesy of https://stackoverflow.com/a/18869078/5774018*/

.frame {
    height: 100%;
    width: 100%;
    position: relative;
}

.maxwidth-maxheight {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.track-grid-main {
    display: grid;

    grid-template-areas:
        "url-track      url-track       exclude-track   start-time-track    end-time-track"
        "author-track   author-track    name-track      name-track          name-track"
        "ytid-track     ytid-track      up-track        down-track          delete-track";

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 2px;
    grid-column-gap: 2px;
    align-items: stretch;
    justify-items: stretch;
    justify-content: stretch;
}

.url-track          { grid-area: url-track }
.exclude-track      { grid-area: exclude-track }
.start-time-track   { grid-area: start-time-track }
.end-time-track     { grid-area: end-time-track }
.author-track       { grid-area: author-track }
.name-track         { grid-area: name-track }
.ytid-track         { grid-area: ytid-track }
.up-track           { grid-area: up-track }
.down-track         { grid-area: down-track }
.delete-track       { grid-area: delete-track }

.editorRow {
    margin-bottom: 10px;
    background-color: rgba(66,135,245,0.5);
}

.close-icon {
    display: block;
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    border-width: 3px;
    border-style: solid;
    border-color: red;
    border-radius: 100%;
    background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%, white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%, white 56%,transparent 56%, transparent 100%);
    background-color: red;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.5);
    transition: all 0.3s ease;
}

.top-left {
    position: absolute;
    top: 0%;
    left: 0%;
}

.two-split-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2px;
}

.grid-centering {
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress {
    position: relative;
    border: 1px solid #333;
    position: relative;
    padding: 3px;
}

.progress-color-bar {
    background-color: #00ff00;
    width: 0%;
    height: 20px;
    transition: width 150ms;
    z-index: 0;
}

.progress-percent {
    position: absolute;
    top: 1px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2; /* Should be on top of progress bar */
    color: blue;
    font-size: 1rem;
}

.progress-color-min-mark {
    position: absolute;
    background-color: #ff0000;
    height: 20px;
    width: 0%;
    margin-left: 0%;
    z-index: 1;
}

.progress-color-max-mark {
    position: absolute;
    background-color: #ff0000;
    height: 20px;
    width: 0%;
    margin-left: 0%;
    z-index: 1;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    color: #000000; /* Change text color, overriding window.body color */
    white-space: pre; /* Don't eat whitespaces and newlines */
    font-family: monospace;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
