@page
@model Soundche.Pages.Shared.VideoPlayerModel
@{
    ViewData["Title"] = "VideoPlayer";
}

@*<h1>VideoPlayer</h1>*@


<!DOCTYPE html>
<html>
<head>
    <title>Video Player Page</title>

    <!--Made with love by Mutiullah Samim -->
    <!--Bootsrap 4 CDN-->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!--Fontawesome CDN-->
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="~/css/player.css" />
</head>

<body>
    <div class="embed-responsive embed-responsive-21by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CgxqXXgc_LM?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div>
        <button type="button" class="btn text-center test_btn" onclick="@Model.RoomController.CallStuff()"></button> <!-- STILL DOESNT WORK. NOT SURE I GET IT-->
    </div>
</body>
</html>
