@page
@model Soundche.Pages.Shared.VideoPlayerModel
@{
    ViewData["Title"] = "VideoPlayer";
}

<h1>VideoPlayer</h1>
<div class="embed-responsive embed-responsive-21by9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/CgxqXXgc_LM?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

